/*! 1280px screen width and above */
@media screen and (min-width: 1280px) {
  /** how it works */
  /* how it works image cntr */
  .howitworks-wrapper > .howitworks-images {
    width: 50%;
  }

  /* steps on how it works writeup */
  .howitworks-wrapper > .howitworks-steps {
    width: 50%;
  }
}

/*! 960px screen width and below */
@media screen and (max-width: 960px) {
  /** nav link styling on smaller screens where the burger menu becomes visible and the nav links hidden */
  /* nav bar links and btns */
  .nav-wrapper > .nav-links-n-btns {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--nav-height));
    background-color: var(--bgc);
    text-align: center;
    transition: top 500ms;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* nav bar links */
  .nav-wrapper > .nav-links-n-btns > .nav-links {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
  background-color: rgba(6, 148, 42, 0.05);
    width: 100%;
  }

  /* nav bar individual links */
  .nav-wrapper > .nav-links-n-btns > .nav-links > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    margin: 0;
  }

  /* nav bar btns */
  .nav-wrapper > .nav-links-n-btns > .nav-btns {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: inherit;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
  background-color: rgba(6, 148, 42, 0.05);
  }

  /* nav bar links */
  .nav-wrapper > .nav-links-n-btns > .nav-btns > .nav-btn {
    margin: 0 20px;
  }

  /* burger menu  */
  .nav-wrapper > .burger-menu {
    display: block;
  }

  /* burger menu close icon */
  .nav-wrapper > .burger-menu > .burger-menu-toggle > span > .close {
    display: none;
  }

  /* nav bar links */
  .nav-wrapper > .nav-links-n-btns > .nav-links > ul {
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  /** header */
header::after {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 calc(80%));
}
  /** header image */
  .header-wrapper > .header-image > .header-image-bdr {
    width: 280px;
    height: 330px;
  }

  /** how it works */
  .howitworks-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* how it works image cntr */
  .howitworks-wrapper > .howitworks-images {
    width: 100%;
    height: 600px;
    margin-right: 0;
  }

  /* how it works individual image cntr */
  .howitworks-wrapper > .howitworks-images > div > figure:nth-child(1) {
    top: 20px;
    left: calc(50% - 220px);
  }

  .howitworks-wrapper > .howitworks-images > div > figure:nth-child(2) {
    top: 300px;
    left: calc(50% - 220px);
  }

  .howitworks-wrapper > .howitworks-images > div > figure:nth-child(3) {
    top: 200px;
    left: 50%;
  }

  /* steps on how it works writeup */
  .howitworks-wrapper > .howitworks-steps {
    width: 100%;
  }
}

/*! 768px screen width and below */
@media screen and (max-width: 786px) {
  /** body background shape image */
  header::after {
    right: 0px;
  }

  /** header */
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* header image */
  .header-wrapper > .header-image {
    display: none;
  }

  /** extra section */
  .extrasection-wrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* extra section story */
  .extrasection-wrapper > div > .extra-section-story {
    width: 100%;
  }

  /* company group logos */
  .extrasection-wrapper > div > .company-group-logos {
    display: none;
  }

  /* company single logos */
  .extrasection-wrapper > div > .company-single-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /** user review */
  /* user review card */
  .reviews-wrapper > .review-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
  }

  .reviews-wrapper > .review-card > .user-review {
    margin-left: 0px;
  }

  /* user review prev and next btns */
  .reviews-wrapper > .review-card > .user-review > .prevnext-btns {
    top: calc(100% - 50px);
  }

  /** footer */
  .footer-wrapper > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* footer contents */
  .footer-wrapper > div > .footer-story {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-wrapper > div > .footer-story > p {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 0;
  }

  /* footer links */
  .footer-wrapper > div > .footer-nav {
    width: 100%;
    margin-left: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-wrapper > div > .footer-nav > .footer-nav-content {
    width: 50%;
  }

  .footer-wrapper > div > .footer-nav > .footer-nav-content > .socials {
    flex-wrap: wrap;
}
}

/*! 500px screen width and below */
@media screen and (max-width: 500px) {
  /** root */
  :root {
    --section-div-margin: 70px 20px;
    --section-div-padding: 20px;
  }

  /** search bar */
  .header-wrapper > .header-body > .header-b-searchbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* search bar inputs */
  .header-wrapper > .header-body > .header-b-searchbar > .search-job-group,
  .header-wrapper > .header-body > .header-b-searchbar > .search-location-group,
  .header-wrapper > .header-body > .header-b-searchbar > .search-button-group {
    width: 100%;
    padding-bottom: 10px;
  }

  .header-wrapper
    > .header-body
    > .header-b-searchbar
    > .search-job-group
    > input,
  .header-wrapper
    > .header-body
    > .header-b-searchbar
    > .search-location-group
    > input,
  .header-wrapper
    > .header-body
    > .header-b-searchbar
    > .search-button-group
    > button {
    border-radius: 20px;
  }

  /** how it works image cntr */
  .howitworks-wrapper > .howitworks-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .howitworks-wrapper > .howitworks-images > div {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* how it works individual image cntr */
  .howitworks-wrapper > .howitworks-images > div > figure {
    position: initial;
    width: 250px;
  }

  /* image */
.howitworks-wrapper > .howitworks-images > div > figure > img {
  border-radius: 20px 20px 0 0;
  width: inherit;
  height: 200px;
  margin: 0;
}

/** individual categories */
.categories-wrapper > .categories-cntr > .category {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

  /** cta section */
  .cta-wrapper {
    margin: 50px 30px;
  }
}

/*! 380px screen width and below */
@media screen and (max-width: 380px) {
  /** recommended job section */
  .recommendations-wrapper {
    margin: var(--section-div-margin);
    padding: 0;
  }
  /* individual job card*/
  .recommendations-wrapper > .job-cards-cntr > .job-card {
    margin: 0 10px;
  }
}
