/** body flex cntr */
body {
  position: relative;
}
body::after {
  position: absolute;
  content: "";
  display: block;
  width: 100vw;
  height: calc(var(--nav-height) + 100vh);
  top: -30px;
  right: 300px;
  border-radius: 30px;
  background-color: rgba(6, 148, 42, 0.05);
  z-index: -10;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
}

/** nav bar */
/* nav bar wrapper */
.nav-wrapper {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 20px 50px;
  z-index: 10;
  width: inherit;
  font-size: 14px;
}

/* logo */
.nav-wrapper > .nav-logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-wrapper > .nav-logo > a > img {
  width: 50px;
  margin: 0;
}

/* nav bar links and btns */
.nav-wrapper > .nav-links-n-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

/* nav bar links */
.nav-wrapper > .nav-links-n-btns > .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-wrapper > .nav-links-n-btns > .nav-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* nav bar individual links */
.nav-wrapper > .nav-links-n-btns > .nav-links > ul > li {
  margin: 0 20px;
}

/** set the links and its states to main color */
.nav-wrapper > .nav-links-n-btns > .nav-links > ul > li > a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--dark-grey);
}

/* nav buttons */
.nav-wrapper > .nav-links-n-btns > .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* individual nav button */
.nav-wrapper > .nav-links-n-btns > .nav-btns > .nav-btn > button {
  padding: 10px 20px;
}

/* log in button */
.nav-wrapper > .nav-links-n-btns > .nav-btns > .login > button {
  padding: 10px 50px;
  border-radius: 20px;
  background-color: var(--light-green);
  color: var(--bright-green);
  font-weight: bold;
}

/* burger menu */
.nav-wrapper > .burger-menu {
  display: none;
}

/* dropdown menu */
.dropdown-menu {
  position: relative;
}

/* dropdown open arrow */
.dropdown-open {
  display: inline-block;
}

/* dropdown links cntr */
.dropdown-links {
  position: absolute;
  top: 40px;
  width: 100%;
}

/* dropdown close arrow and dropdown links container */
.dropdown-close,
.dropdown-links {
  display: none;
}

/* individual dropdown links */
.dropdown-links > li {
  padding: 5px 0 10px;
  text-align: center;
}

/** header */
.header-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* header body */
/* body description heading */
.header-wrapper > .header-body > .header-b-description > h1 {
  text-align: left;
}

.header-wrapper > .header-body > .header-b-description > h1 > span {
  color: var(--bright-green);
}

/*  search bar */
.header-wrapper > .header-body > .header-b-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

/* search bar inputs */
.header-wrapper > .header-body > .header-b-searchbar > span > input,
.header-wrapper > .header-body > .header-b-searchbar > span > button {
  height: 30px;
  padding: 15px;
  border: 1px solid var(--lighter-grey);
}

/* search bar inputs placeholder */
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-webkit-input-placeholder {
  color: var(--light-grey);
  font-size: 0.8em;
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-moz-placeholder {
  color: var(--light-grey);
  font-size: 0.8em;
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input:-ms-input-placeholder {
  color: var(--light-grey);
  font-size: 0.8em;
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-ms-input-placeholder {
  color: var(--light-grey);
  font-size: 0.8em;
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::placeholder {
  color: var(--light-grey);
  font-size: 0.8em;
}

/* search input on hover */
.header-wrapper > .header-body > .header-b-searchbar > span > input:hover {
  border-color: var(--bright-green);
  -webkit-transition: 300ms border-color;
  -o-transition: 300ms border-color;
  transition: 300ms border-color;
}

/* search job bar */
.header-wrapper > .header-body > .header-b-searchbar > .search-job-group {
  width: calc(100% - 140px);
}

.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-job-group
  > input {
  border-radius: 20px 0 0 20px;
  width: 100%;
  background-color: #fff;
}

/*search location  bar */
.header-wrapper > .header-body > .header-b-searchbar > .search-location-group {
  width: 100px;
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-location-group
  > input {
  width: 100%;
}

/*  search button */
.header-wrapper > .header-body > .header-b-searchbar > .search-button-group {
  width: 40px;
}

.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-button-group
  > button {
  width: 100%;
  background-color: var(--bright-green);
  border: 1px solid var(--bright-green);
  color: #fff;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* search button on hover */
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-button-group
  > button:hover {
  opacity: 0.9;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
}

/* body trustees cntr */
.header-wrapper > .header-body > .header-b-trustees > h3 {
  text-align: left;
}

/* trustees logo */
.header-wrapper > .header-body > .header-b-trustees > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-wrapper > .header-body > .header-b-trustees > div > span {
  padding: 0 5px;
}
.header-wrapper > .header-body > .header-b-trustees > div > span > img {
  height: 1.5em;
}

/* header image */
.header-wrapper > .header-image {
  margin-left: 80px;
}

.header-wrapper > .header-image > .header-image-bdr {
  border: 2px solid var(--bright-green);
  border-radius: 15px;
  position: relative;
  width: 350px;
  height: 400px;
}
.header-wrapper > .header-image > .header-image-bdr > img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  position: absolute;
  top: -20px;
  left: -20px;
}

/** recommended job section */
.recommendations-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* heading */
.recommendations-wrapper > h2 {
  text-align: left;
}

/* job cards cntr */
.recommendations-wrapper > .job-cards-cntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

/* individual job card*/
.recommendations-wrapper > .job-cards-cntr > .job-card {
  min-width: 300px;
  margin: 0 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
}

/* job card inner cards */
.recommendations-wrapper > .job-cards-cntr > .job-card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
/* upper card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-upper-card {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-upper-card > p {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  padding: 5px 20px;
  font-size: 0.6em;
  border-radius: 50px;
  color: var(--light-grey);
  background-color: var(--lighter-grey);
}

/* job middle card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-middle-card {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-middle-card
  > p
  > img {
  max-height: 50px;
  margin: 10px 0;
}

/* job lower card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--lighter-grey);
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card > h5 {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-bottom: 5px;
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > span
  > button {
  color: var(--bright-green);
  padding: 5px 20px;
  font-size: 0.6em;
  font-weight: bold;
  border-radius: 50px;
}

.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > span
  > button:active {
  background-color: var(--light-green);
}

/* job post prev and next btns */
.recommendations-wrapper > .prevnext-btns {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 20px 0;
}
.recommendations-wrapper > .prevnext-btns > span > i {
  padding-left: 10px;
  color: var(--lighter-grey);
  cursor: pointer;
}

.recommendations-wrapper > .prevnext-btns > .next-btn > i {
  color: var(--bright-green);
}

/** how it works */
.howitworks-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* how it goes image cntr */
.howitworks-wrapper > .howitworks-images {
  position: relative;
}

/* image */
.howitworks-wrapper > .howitworks-images > figure {
  width: 250px;
  margin: 30px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
}

.howitworks-wrapper > .howitworks-images > figure > img {
  border-radius: 20px 20px 0 0;
  width: inherit;
  height: 200px;
}

/* image caption */
.howitworks-wrapper > .howitworks-images > figure > figcaption {
  width: inherit;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.howitworks-wrapper > .howitworks-images > figure > figcaption > span {
  color: var(--bright-green);
}
