/** body */
/* body background shape image */
body {
  overflow-x: hidden;
}

/** nav bar */
/* nav bar wrapper */
.nav-wrapper {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 20px 50px;
  z-index: 10;
  width: inherit;
  font-size: 14px;
}

/* nav bar logo */
.nav-wrapper > .nav-logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-wrapper > .nav-logo > a > img {
  width: 50px;
  margin: 0;
}

/* nav bar links and btns */
.nav-wrapper > .nav-links-n-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

/* nav bar links */
.nav-wrapper > .nav-links-n-btns > .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-wrapper > .nav-links-n-btns > .nav-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* nav bar individual links */
.nav-wrapper > .nav-links-n-btns > .nav-links > ul > li {
  margin: 0 20px;
}

/* set the links and its states to main color */
.nav-wrapper > .nav-links-n-btns > .nav-links > ul > li > a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--dark-grey);
}

/* nav buttons */
.nav-wrapper > .nav-links-n-btns > .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* individual nav button */
.nav-wrapper > .nav-links-n-btns > .nav-btns > .nav-btn > button {
  padding: 10px 20px;
}

/* log in button */
.nav-wrapper > .nav-links-n-btns > .nav-btns > .login > button {
  padding: 10px 50px;
  border-radius: 20px;
  background-color: var(--light-green);
  color: var(--bright-green);
  font-weight: bold;
}

/* burger menu */
/* burger menu */
.nav-wrapper > .burger-menu {
  display: none;
  color: var(--bright-green);
}

/** header */
header::after {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
  width: 100vw;
  height: calc(var(--nav-height) + 100%);
  top: 0px;
  right: 300px;
  border-radius: 0 30px 30px 0;
  background-color: rgba(6, 148, 42, 0.05);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));
}

.header-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* header body */
/* body description heading */
.header-wrapper > .header-body > .header-b-description > h1 {
  text-align: left;
}

.header-wrapper > .header-body > .header-b-description > h1 > span {
  color: var(--bright-green);
}

/*  search bar */
.header-wrapper > .header-body > .header-b-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

/* search bar inputs */
.header-wrapper > .header-body > .header-b-searchbar > span > input,
.header-wrapper > .header-body > .header-b-searchbar > span > button {
  padding: 15px;
  border: 1px solid var(--lighter-grey);
  color: var(--light-grey);
  background-color: var(--bgc);
}

/* search bar inputs placeholder */
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-webkit-input-placeholder {
  color: var(--light-grey);
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-moz-placeholder {
  color: var(--light-grey);
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input:-ms-input-placeholder {
  color: var(--light-grey);
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::-ms-input-placeholder {
  color: var(--light-grey);
}
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > span
  > input::placeholder {
  color: var(--light-grey);
}

.header-wrapper > .header-body > .header-b-searchbar > span > input:focus {
  color: var(--light-grey);
}

/* search input on hover */
.header-wrapper > .header-body > .header-b-searchbar > span > input:hover {
  border-color: var(--bright-green);
  -webkit-transition: 300ms border-color;
  -o-transition: 300ms border-color;
  transition: 300ms border-color;
}

/* job search bar */
.header-wrapper > .header-body > .header-b-searchbar > .search-job-group {
  width: calc(100% - 140px);
}

.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-job-group
  > input {
  border-radius: 20px 0 0 20px;
  width: 100%;
  background-color: #fff;
}

/* location search bar */
.header-wrapper > .header-body > .header-b-searchbar > .search-location-group {
  width: 100px;
}

.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-location-group
  > input {
  width: 100%;
}

/*  search button */
.header-wrapper > .header-body > .header-b-searchbar > .search-button-group {
  width: 40px;
}

.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-button-group
  > button {
  width: 100%;
  background-color: var(--bright-green);
  border: 1px solid var(--bright-green);
  color: #fff;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* search button on hover */
.header-wrapper
  > .header-body
  > .header-b-searchbar
  > .search-button-group
  > button:hover {
  opacity: 0.8;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
}

/* body trustees cntr */
.header-wrapper > .header-body > .header-b-trustees > h3 {
  text-align: left;
}

/* trustees logo */
.header-wrapper > .header-body > .header-b-trustees > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrapper > .header-body > .header-b-trustees > div > span {
  padding: 0 5px;
}

.header-wrapper > .header-body > .header-b-trustees > div > span > img {
  height: 1.5em;
}

/* header image */
.header-wrapper > .header-image {
  margin-left: 80px;
}

.header-wrapper > .header-image > .header-image-bdr {
  border: 2px solid var(--bright-green);
  border-radius: 15px;
  position: relative;
  width: 350px;
  height: 400px;
}

.header-wrapper > .header-image > .header-image-bdr > img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  position: absolute;
  top: -20px;
  left: -20px;
}

/**  all sections */
section,
footer {
  background-color: var(--bgc);
}

/** recommended job section */
.recommendations-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* heading */
.recommendations-wrapper > h2 {
  text-align: left;
}

/* job cards cntr */
.recommendations-wrapper > .job-cards-cntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 20px 0;
}

/* individual job card*/
.recommendations-wrapper > .job-cards-cntr > .job-card {
  width: 300px;
  margin: 0 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(6, 148, 42, 0.05);
  box-shadow: 5px 5px 20px 5px rgba(6, 148, 42, 0.05);
}

/* job card inner cards */
.recommendations-wrapper > .job-cards-cntr > .job-card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 20px;
  width: inherit;
}

/* job card upper card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-upper-card {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-upper-card > p {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  padding: 5px 20px;
  font-size: 0.6em;
  border-radius: 50px;
  color: var(--light-grey);
  background-color: var(--lighter-grey);
}

/* job card middle card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-middle-card {
  font-weight: bold;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-middle-card
  > p
  > img {
  max-height: 50px;
  margin: 10px 0;
}

/* job card lower card */
.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--lighter-grey);
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card > h5 {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-bottom: 5px;
}

.recommendations-wrapper > .job-cards-cntr > .job-card > .job-lower-card > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
}

/* job card lower card icon */
.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > .job-location {
  font-size: 0.8em;
}
/* job card lower card icon */
.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > .job-location
  > i {
  color: var(--lighter-grey);
  padding-right: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
/* job card lower card button */
.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > span
  > button {
  color: var(--bright-green);
  padding: 5px 20px;
  font-size: 0.6em;
  font-weight: bold;
  border-radius: 50px;
}

/* job card lower card button on active */
.recommendations-wrapper
  > .job-cards-cntr
  > .job-card
  > .job-lower-card
  > div
  > span
  > button:hover {
  background-color: var(--light-green);
  -webkit-transition: 300ms background-color;
  -o-transition: 300ms background-color;
  transition: 300ms background-color;
}

/* job post prev and next btns */
.recommendations-wrapper > .prevnext-btns {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 20px 0;
}

.recommendations-wrapper > .prevnext-btns > span > i {
  padding-left: 10px;
  color: var(--lighter-grey);
  cursor: pointer;
}

.recommendations-wrapper > .prevnext-btns > .next-btn > i {
  color: var(--bright-green);
}

/** how it works section */
.howitworks-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* how it works image cntr */
.howitworks-wrapper > .howitworks-images {
  width: 60%;
  margin-right: 50px;
}

.howitworks-wrapper > .howitworks-images > div {
  position: relative;
  width: 100%;
  height: 100%;
}

/** how it works individual image cntr */
.howitworks-wrapper > .howitworks-images > div > figure {
  position: absolute;
  width: 200px;
  margin: 30px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.05);
}

.howitworks-wrapper > .howitworks-images > div > figure:nth-child(1) {
  top: calc(50% - 270px);
  left: calc(50% - 220px);
}

.howitworks-wrapper > .howitworks-images > div > figure:nth-child(2) {
  top: calc(50% + 10px);
  left: calc(50% - 220px);
}

.howitworks-wrapper > .howitworks-images > div > figure:nth-child(3) {
  left: 50%;
  top: 200px;
}

/* image */
.howitworks-wrapper > .howitworks-images > div > figure > img {
  border-radius: 20px 20px 0 0;
  width: inherit;
  height: 150px;
  margin: 0;
}

/* image caption */
.howitworks-wrapper > .howitworks-images > div > figure > figcaption {
  width: inherit;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}

.howitworks-wrapper > .howitworks-images > div > figure > figcaption > span {
  color: var(--bright-green);
}

/** steps on how it works writeup */
.howitworks-wrapper > .howitworks-steps {
  width: 40%;
}

/* how it works header */
.howitworks-wrapper > .howitworks-steps > h2 {
  text-align: left;
}

/* how it works subtitle */
.howitworks-wrapper > .howitworks-steps > p {
  margin-bottom: 35px;
}

/* all the paragraphs in the steps */
.howitworks-wrapper > .howitworks-steps > .steps-card > p {
  margin-bottom: 20px;
}

/* how it works sub headers */
.howitworks-wrapper > .howitworks-steps > .steps-card > .step-card-title {
  font-weight: bold;
}

/* how it works sub headers icon */
.howitworks-wrapper
  > .howitworks-steps
  > .steps-card
  > .step-card-title
  > span
  > i {
  padding: 5px;
  color: var(--bright-green);
  width: inherit;
  height: inherit;
  position: relative;
  margin: 0 10px;
}

.howitworks-wrapper
  > .howitworks-steps
  > .steps-card
  > .step-card-title
  > span
  > i::after {
  position: absolute;
  content: "";
  display: inline-block;
  left: -10px;
  top: 5px;
  padding: 5px;
  background-color: var(--light-green);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/** categories section */
.categories-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.categories-wrapper > .categories-cntr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
}

/* individual categories */
.categories-wrapper > .categories-cntr > .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--lighter-grey);
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.categories-wrapper > .categories-cntr > .category > * {
  margin-bottom: 10px;
}

.categories-wrapper > .categories-cntr > .category > p {
  color: var(--light-grey);
}

/** extra section */
.extrasection-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  margin-right: 0;
  background-color: var(--lightest-grey);
}

.extrasection-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 20px;
}

/* extra section story */
.extrasection-wrapper > div > .extra-section-story {
  width: 50%;
}

.extrasection-wrapper > div > .extra-section-story > h2 {
  text-align: left;
}

.extrasection-wrapper > div > .extra-section-story > p {
  margin-bottom: 20px;
}

.extrasection-wrapper > div > .extra-section-story > .learn-more-link {
  color: var(--bright-green);
  font-weight: bold;
}

.extrasection-wrapper > div > .extra-section-story > .learn-more-link:hover {
  border-bottom: 1px solid var(--bright-green);
  -webkit-transition: 300ms border-bottom;
  -o-transition: 300ms border-bottom;
  transition: 300ms border-bottom;
}

/* company group logos */
.extrasection-wrapper > div > .company-group-logos {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.extrasection-wrapper > div > .company-group-logos > img {
  width: 80%;
  height: auto;
}

/* company single logos */
.extrasection-wrapper > div > .company-single-logos {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: none;
}

.extrasection-wrapper > div > .company-single-logos > img {
  width: 100px;
  height: 100px;
}

/** reviews section */
.reviews-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
}

.reviews-wrapper > h2 {
  text-align: left;
}

.reviews-wrapper > .review-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.reviews-wrapper > .review-card > div > .user-image {
  border: 2px solid var(--bright-green);
  width: 250px;
  height: 250px;
  border-radius: 17px;
  margin: 40px 0px 20px 20px;
  position: relative;
}
.reviews-wrapper > .review-card > div > .user-image > img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  top: -20px;
  left: -20px;
  position: absolute;
}

.reviews-wrapper > .review-card > .user-review {
  width: 100%;
  position: relative;
  margin: 20px 0;
  margin-left: 50px;
}

/* user review prev and next btns */
.reviews-wrapper > .review-card > .user-review > .prevnext-btns {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 20px 0;
  position: absolute;
  right: 10px;
  top: -40px;
}

.reviews-wrapper > .review-card > .user-review > .prevnext-btns > span > i {
  padding-left: 10px;
  color: var(--lighter-grey);
  cursor: pointer;
}

.reviews-wrapper
  > .review-card
  > .user-review
  > .prevnext-btns
  > .next-btn
  > i {
  color: var(--bright-green);
}

/* user quote */
.reviews-wrapper > .review-card > .user-review > .user-quote {
  padding: 20px;
  padding-left: 40px;
  position: relative;
}

.reviews-wrapper > .review-card > .user-review > .user-quote::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f10d";
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 50px;
  color: var(--light-green);
}

.reviews-wrapper > .review-card > .user-review > .user-details > h4 {
  text-align: left;
}

.reviews-wrapper > .review-card > .user-review > .user-details > p {
  color: var(--light-grey);
}

/** cta section */
.cta-wrapper {
  margin: 70px 70px;
  background-image: url("/img/photos/cta-image.png");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.cta-wrapper > .cta {
  border-radius: 30px;
  padding: 60px 40px;
  color: #fff;
  background: rgba(43, 48, 58, 0.6);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.cta-wrapper > .cta > .cta-bg {
  border-radius: 15px;
  color: #fff;
}

.cta-wrapper > .cta > .cta-bg > h2 {
  text-align: left;
}

.cta-wrapper > .cta > .cta-bg > p {
  margin-bottom: 20px;
}

/* get started button */
.cta-wrapper > .cta > .cta-bg > a > button {
  background-color: var(--bright-green);
  border: 1px solid var(--bright-green);
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* get started button on hover */
.cta-wrapper > .cta > .cta-bg > a > button:hover {
  opacity: 0.9;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
}

/** footer */
.footer-wrapper {
  margin: var(--section-div-margin);
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid var(--lighter-grey);
  font-size: 0.8rem;
}

.footer-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* footer contents */
.footer-wrapper > div > .footer-story {
  width: 40%;
  margin: 20px;
  margin-left: 0;
}

.footer-wrapper > div > .footer-nav {
  width: 60%;
  margin: 20px;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-wrapper > div > .footer-nav > .footer-nav-content {
  width: 25%;
  margin-bottom: 20px;
}

/* contents heading */
.footer-wrapper > div > .footer-nav > .footer-nav-content > h4 {
  text-align: left;
}

/* contents body */
.footer-wrapper > div > .footer-nav > .footer-nav-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-wrapper > div > .footer-nav > .footer-nav-content > div a {
  padding-top: 10px;
}

.footer-wrapper > div > .footer-nav > .footer-nav-content > .socials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer-wrapper > div > .footer-nav > .footer-nav-content > .socials > a {
  background-color: var(--light-green);
  color: var(--bright-green);
  margin: 5px 0;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.footer-wrapper > p {
  padding: 10px;
  color: var(--light-grey);
  font-size: 0.7rem;
}
